<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {%- seo -%}
  <link rel="stylesheet" href="/assets/style/tachyons.min.css">
  <link rel="stylesheet" href="/assets/style/archeo.css">
  {%- feed_meta -%}
  {% include favicon.html %}


  <!-- Lazy load images -->
  <!-- thanks for code https://github.com/verlok/lazyload-->
  <script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@8.17.0/dist/lazyload.min.js"></script>

  <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">

</head>
