---
layout: default
---

<article class="pa2 ph5-l pt4-l">
  <div class="measure lh-copy">
    <img src="/assets/img/stickers/{{ page.thumb }}" class="" alt="{{ page.title }}">
    <h1 class="f3 f2-l">{{ page.title }}</h1>
    <dl class="f6 lh-title">
      <dt class="dib b">Motto:</dt>
      <dd class="dib ml0 gray">{{ page.description }}</dd>
    </dl>
    <dl class="f6 lh-title mv2">
      <dt class="dib b">Numero:</dt>
      <dd class="dib ml0 gray">{{ page.numero }}</dd>
    </dl>
    <dl class="f6 lh-title mv2">
      <dt class="dib b">Data:</dt>
      <dd class="dib ml0 gray">
        <time datetime="{{ page.date }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: "%Y/%m/%d" }}
      </time>
      </dd>
    </dl>
    <dl class="f6 lh-title mv2">
      <dt class="dib b">Fonte:</dt>
      <dd class="dib ml0 gray"><a href="{{ page.wiki }}" class="link gray underline">Wikipedia</a></dd>
    </dl>
    <dl class="f6 lh-title mv2">
      <dt class="dib b">Fonte immagine:</dt>
      <dd class="dib ml0 gray"><a href="{{ page.source }}" class="link gray underline">{{ page.source-name }}</a></dd>
    </dl>
    <dl class="f6 lh-title mv2">
      <dt class="dib b">Ubicazione:</dt>
      <dd class="dib ml0 gray"><a href="{{ page.museum-link }}" class="link gray underline">{{ page.museum-name }}</a></dd>
    </dl>
    {% if page.museum-inst %}
    <dl class="f6 lh-title mv2">
      <dt class="dib b">Instagram:</dt>
      <dd class="dib ml0 gray"><a href="https://www.instagram.com/{{ page.museum-inst }}" class="link gray underline">{{ page.museum-inst }}</a></dd>
    </dl>
    {% endif %}
    {% if page.museum-tw %}
    <dl class="f6 lh-title mv2">
      <dt class="dib b">Twitter:</dt>
      <dd class="dib ml0 gray"><a href="https://twitter.com/{{ page.museum-tw }}" class="link gray underline">@{{ page.museum-tw }}</a></dd>
    </dl>
    {% endif %}
    {% if page.museum-fb %}
    <dl class="f6 lh-title mv2">
      <dt class="dib b">Facebook:</dt>
      <dd class="dib ml0 gray"><a href="https://www.facebook.com/{{ page.museum-fb }}" class="link gray underline">{{ page.museum-fb }}</a></dd>
    </dl>
    {% endif %}
    <dl class="f6 lh-title mv2">
      <dt class="dib b">Mappa:</dt>
      <dd class="dib ml0 gray"><a href="{{ page.mappa }}" class="link gray underline">{{ page.mappa-name }}</a></dd>
    </dl>
    <dl class="f6 lh-title mv2">
      <dt class="dib b">Ideazione:</dt>
      <dd class="dib ml0 gray"><a href="{{ page.social-idea }}" class="link gray underline">{{ page.idea }}</a></dd>
    </dl>
    <dl class="f6 lh-title mv2">
      <dt class="dib b">Realizzazione:</dt>
      <dd class="dib ml0 gray"><a href="{{ page.social-autore }}" class="link gray underline">{{ page.autore }}</a></dd>
    </dl>
    <dl class="f6 lh-title mv2">
      <dt class="dib b">Licenza:</dt>
      <dd class="dib ml0 gray"><a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/" class="link underline gray">Creative Commons Attribuzione - Condividi allo stesso modo 4.0</a></dd>
    </dl>
    <dl class="f6 lh-title mv2">
      <dt class="dib b">Note:</dt>
      <dd class="dib ml0 gray post-link">{{ content }}</dd>
    </dl>
    {% if page.previous.url %}
    <div class="flex items-center justify-between pv4 w-100">
      <a href="{{page.previous.url}}" class="f5 no-underline black bg-animate hover-bg-black hover-white inline-flex items-center pa3 ba border-box mr4">
          <svg class="w1" data-icon="chevronLeft" viewBox="0 0 32 32" style="fill:currentcolor">
            <title>chevronLeft icon</title>
            <path d="M20 1 L24 5 L14 16 L24 27 L20 31 L6 16 z"></path>
          </svg>
        <span class="pl1">Previous</span>
      </a>
      {% endif %}
      {% if page.next.url %}
      <a href="{{page.next.url}}" class="f5 no-underline black bg-animate hover-bg-black hover-white inline-flex items-center pa3 ba border-box">
        <span class="pr1">Next</span>
        <svg class="w1" data-icon="chevronRight" viewBox="0 0 32 32" style="fill:currentcolor">
          <title>chevronRight icon</title>
          <path d="M12 1 L26 16 L12 31 L8 27 L18 16 L8 5 z"></path>
        </svg>
      </a>
    </div>
    {% endif %}

  </div>

</article>
